<div class="form-group">
  <%= form_for(@article) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control ace-editor' %>
    <%= f.label :content %>
    <%= f.text_field :content, :class => 'form-control ace-editor' %>
    <%= f.submit "Update article", :class => 'btn btn-default' %>
  <% end %>
</div>
<!--   <div class="ace-editor">
    <textarea></textarea>
  </div>

<script>
    $(document).ready(function() {
    // initialize all Ace editors on the page.
    $(".ace-editor").each(function(index, item) {
      initAceEditor(item);
    });
  });

  function initAceEditor(container) {
    container = $(container);
    var textarea = container.find("textarea");
    var aceEditorDiv = $('<div>', {
        "class": "ace"
    }).insertBefore(textarea);

    var aceEditor = ace.edit(aceEditorDiv[0]);
    textarea.closest('form').submit(function() {
      textarea.val(aceEditor.getValue());
    });
  }
</script> -->
